<a href="https://colab.research.google.com/github/shehanGuruge/Jsonplaceholder/blob/master/DecisionTreeRegressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [79]:
# Load the data into a Pandas DataFrame
df = pd.read_csv("Dataset.csv")
df.head()

,Lat,Long,Day,Time,Weather,Light,Severity,Sex,Age,Vehicle_type,Vehicle_age
0,6.871939,79.901487,1.0,19.00,1.0,2.0,3.0,1.0,26.0,5.0,2.0
1,6.871939,79.901487,1.0,19.00,1.0,2.0,3.0,NaN,NaN,1.0,2.0
2,6.884665,79.907132,7.0,8.50,1.0,1.0,4.0,1.0,26.0,1.0,6.0
3,6.884665,79.907132,7.0,8.50,1.0,1.0,4.0,1.0,42.0,1.0,2.0
4,6.877136,79.892977,5.0,12.55,1.0,1.0,4.0,1.0,39.0,2.0,13.0

In [80]:
#Check for missing values
print(df.isnull().sum())

Lat             152
Long            152
Day               2
Time              3
Weather           1
Light             1
Severity          3
Sex               7
Age               9
Vehicle_type      3
Vehicle_age       6
dtype: int64

In [ ]:
# Below handling missing values should be chnaged, 
# because I'm not sure whether applying mean for all the missing values is possible or not, speciallly for Latitute, Logitute

In [81]:
#Handle missing values
df.fillna(df.mean(),inplace=True)

In [82]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

def normalize(features):
  scaled_data = preprocessing.normalize(features, axis=0)
  print(scaled_data)
  return scaled_data

def standardization(features):
  scaler = StandardScaler()
  scaled_data = scaler.fit_transform(features);
  print(scaled_data)
  return scaled_data

def minMaxScaler(features): 
  scaler = MinMaxScaler()
  scaled_data = scaler.fit_transform(features);
  print(scaled_data)
  return scaled_data

In [83]:
# Split the data into training and test sets
features = df.drop(["Lat", "Long"], axis=1)
y = df[["Lat", "Long"]]
X = normalize(features) #scaled data

[[0.01794282 0.10559041 0.07784989 ... 0.04731021 0.11310213 0.01547986]
 [0.01794282 0.10559041 0.07784989 ... 0.07427797 0.02262043 0.01547986]
 [0.12559974 0.04723782 0.07784989 ... 0.04731021 0.02262043 0.04643959]
 ...
 [0.10765692 0.10836911 0.07784989 ... 0.05094946 0.02262043 0.0232198 ]
 [0.10765692 0.10836911 0.07784989 ... 0.03821209 0.11310213 0.00773993]
 [0.0897141  0.12504128 0.07784989 ... 0.07642419 0.06786128 0.09287918]]

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [85]:
X

array([[0.01794282, 0.10559041, 0.07784989, ..., 0.04731021, 0.11310213,
        0.01547986],
       [0.01794282, 0.10559041, 0.07784989, ..., 0.07427797, 0.02262043,
        0.01547986],
       [0.12559974, 0.04723782, 0.07784989, ..., 0.04731021, 0.02262043,
        0.04643959],
       ...,
       [0.10765692, 0.10836911, 0.07784989, ..., 0.05094946, 0.02262043,
        0.0232198 ],
       [0.10765692, 0.10836911, 0.07784989, ..., 0.03821209, 0.11310213,
        0.00773993],
       [0.0897141 , 0.12504128, 0.07784989, ..., 0.07642419, 0.06786128,
        0.09287918]])

In [86]:
y

          Lat       Long
0    6.871939  79.901487
1    6.871939  79.901487
2    6.884665  79.907132
3    6.884665  79.907132
4    6.877136  79.892977
..        ...        ...
160  6.871693  79.902681
161  6.871693  79.902681
162  6.871693  79.902681
163  6.871693  79.902681
164  6.871693  79.902681

[165 rows x 2 columns]

In [87]:
# Train a random forest regressor
reg = DecisionTreeRegressor(random_state=0)
reg.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [88]:
# Make predictions on the test data
y_pred = reg.predict(X_test)

In [ ]:
# Don't know whether this MSE value is OK or not

In [89]:
# Evaluate the model's performance
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

Mean Squared Error: 1.1935447309235842e-05
Mean Absolute Error: 0.0014770897436038792

In [90]:
y_pred

array([[ 6.87169338, 79.90268123],
       [ 6.877136  , 79.892977  ],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.869196  , 79.902801  ],
       [ 6.869196  , 79.902801  ],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.869196  , 79.902801  ],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.862701  , 79.91147   ],
       [ 6.87169338, 79.90268123],
       [ 6.884665  , 79.907132  ],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123],
       [ 6.87169338, 79.90268123]])

In [91]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import GradientBoostingRegressor
reg = MultiOutputRegressor(GradientBoostingRegressor(n_estimators=100, random_state=0))

In [92]:
reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)

In [93]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

Mean Squared Error: 7.389524645019365e-06
Mean Absolute Error: 0.0015267374547005283